@import "@sweetalert2/theme-dark/dark.css";

header {
	display: inline-block;
	position: fixed;
	top: 4em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	width: 9em;
	height: 4.5em;
	border-radius: 2em;
	background: rgba(255, 255, 255, 0.28);
	padding: 0;
	margin: 0;
	transition: all ease-in-out 0.3s;
	opacity: 0;
}

h1 {
	display: inline-block;
	margin: 0;
	padding: 0.35em 0;
	font-size: 2.2em;
	text-align: center;
	transition: all ease-in-out 0.3s;
}

#chat {
	display: none;
	grid-template-rows: 1fr 6em;
	height: calc(100vh - 4em);
	grid-row-gap: 0.5em;
}

#group {
	max-width: 18em;
	max-height: 14em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.3);
	overflow: hidden;
	border-radius: 3em;
	padding: 1em 2em;
	display: none;
	align-items: center;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 1.5fr;
	font-size: 1.2em;
}

label {
	margin: 0.5em 0.2em;
	text-align: right;
	cursor: pointer;
}

input,
textarea {
	height: 2.5em;
	width: 85%;
	border-radius: 1em;
	padding: 0 1em;
	display: inline-block;
	transition: all ease-in-out 0.5s;
	border: solid rgba(0, 0, 0, 0.8) 0.1em;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 1em;
}

#buttons {
	grid-column-start: 1;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#buttons button {
	display: inline-block;
	width: 6em;
	height: 3em;
	font-size: 1.2em;
	margin: 1em auto;
	background: rgba(0, 0, 0, 0.3);
	border: solid rgba(0, 0, 0, 0.5) 0.1em;
}

#message-sender {
	display: grid;
	grid-template-columns: 1fr 4em;
	grid-column-gap: 0.5em;
	align-items: center;
	justify-items: center;
	margin: 0.6em;
}

#send-message {
	display: inline-block;
	width: 4em;
	height: 2.5em;
	font-size: 1.1em;
	border-radius: 1.2em;
}

#message-input {
	display: inline-block;
	height: calc(100% - 0.6em);
	width: 95%;
	background: rgba(255, 255, 255, 0.2);
	border: 0.1em solid rgba(255, 255, 255, 0.6);
	padding-top: 0.6em;
	resize: none;
}

#messages {
	overflow: auto;
}

#leave-group {
	margin-left: 1em;
}

.message {
	margin: 0.6em 0;
	padding: 0.5em;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 1.1em;
}

.message span {
	color: #ddd;
}

.sender {
	margin-right: 0.6em;
}

.server span {
	color: #f99;
}

#chat.ready,
#group.ready {
	display: grid;
}

.self span {
	color: #9cf;
}

.sending span:last-of-type::after {
	content: "发送中";
	display: inline-block;
	margin-left: 0.6em;
	opacity: 0.6;
	font-size: 0.9em;
}

.send-failed span:last-of-type::after {
	content: "发送失败";
	display: inline-block;
	margin-left: 0.6em;
	color: #f66;
	font-size: 0.9em;
}

.send-failed {
	background: rgba(255, 0, 0, 0.2);
}

@media (max-width: 850px) {
	#group {
		width: 18em;
		height: 14em;
	}
}

@media (max-width: 580px) {
	header {
		top: 6.5em;
		width: 6em;
		height: 3.5em;
		border-radius: 1.5em;
	}

	h1 {
		padding: 0.5em 0;
		font-size: 1.5em;
	}

	#chat {
		height: calc(100vh - 6.5em);
	}

	#send-message {
		display: inline-block;
		height: 3.2em;
		font-size: 0.8em;
		border-radius: 1.3em;
	}

	#message-sender {
		margin-left: 0.2em;
		margin-right: 0.2em;
	}
}

@media (max-width: 500px) {
	#group {
		grid-template-columns: 1fr;
		grid-template-rows: 0.6fr 1fr 0.6fr 1fr 2.5fr;
	}

	#buttons {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	label {
		text-align: left;
	}

	#group {
		height: 22em;
		max-height: 22em;
		width: 95vw;
		box-sizing: border-box;
		max-width: 20em;
		padding-bottom: 1em;
	}

	#buttons button {
		margin: 0.4em auto 0;
	}

	#message-sender {
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-template-rows: 1.2fr 1fr;
		grid-row-gap: 0.2em;
		align-items: center;
		justify-items: center;
		margin: 0.6em 0.1em;
	}

	#send-message {
		height: 2.3em;
		width: 90%;
	}

	#message-input {
		width: 90%;
	}

	#chat {
		grid-template-rows: 1fr 7.2em;
		grid-row-gap: 0.2em;
	}

	.sender {
		display: block;
		margin: 0;
	}
}
