@import '@sweetalert2/theme-dark/dark.css';

body {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100vh;
}


main {
	min-width: 38vw;
	min-height: 55vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, .3);
	overflow: hidden;
	border-radius: 3em;
	padding: 1em 2em;
}


form {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 1.5fr 1.5fr;
	font-size: 1.2em;
}

label {
	margin: .5em .2em;
	text-align: right;
	cursor: pointer;
}

input {
	height: 2.5em;
	width: 85%;
	border-radius: 1em;
	padding: 0 1em;
	display: inline-block;
	transition: all ease-in-out .5s;
	border: solid rgba(0, 0, 0, 0.8) .1em;
	background: rgba(0, 0, 0, .4);
	color: white;
	font-size: 1em;
}

#login, #more-operation, #register {
	grid-column-start: 1;
	grid-column-end: 3;
}

#more-operation {
	text-align: right;
}

#login, #register {
	width: 6em;
	height: 3em;
	font-size: 1.2em;
	margin: 1em auto;
	background: rgba(0, 0, 0, 0.3);
	border: solid rgba(0, 0, 0, 0.5) .1em;
}


/* 表单得到焦点，鼠标悬浮 */
input:focus, input:hover {
	background: rgba(0, 0, 0, 0.3);
}


main a {
	display: inline-block;
	margin: 0 .3em;
	padding: .2em .5em;
	border-radius: .5em;
	transition: all ease-in-out .5s;
}

	main a:link, main a:visited {
		color: lightblue;
		background: rgba(0, 0, 0, .5);
	}

	main a:hover {
		color: cornflowerblue;
	}

	main a:active {
		color: black;
		background: lightblue;
	}