@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@sweetalert2/theme-dark/dark.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	text-align: center;
	background: rgba(0,0,0,0.05);
}

main {
	color: black;
	min-width: 300px;
	min-height: 400px;
	width: 25%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border: solid rgba(0, 0, 0, 0.4) 1px;
	border-radius: 25px;
	backdrop-filter: blur(2px);
}

main > label {
	text-align: left;
}

#sign {
	margin: auto;
	padding: 30px 0;
	width: 80%;
	height: 80%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 15% 15% 15% 15% 10%;
	grid-row-gap: 7%;
}
#sign > * {
	display: inline-grid;
}

#sign > label {
	width: 100%;
	height: 100%;
	text-align: left;
}
#sign > div > a {
	font-size: 15px;
	text-align: right;
}
/* 表单输入 */
.form-control {
	color: black;
	background-color: rgba(0, 0, 0, 0.2);
	border: solid rgba(0, 0, 0, 0.5) 1px;
}
/* 表单得到焦点，鼠标悬浮 */
.form-control:focus, .form-control:hover {
	transition: ease-in-out 300ms;
	background-color: rgba(0, 0, 0, 0.1);
}
/* 表单失去焦点 */
.form-control:focus-within {
	transition: ease-in-out 300ms;
	background-color: rgba(0, 0, 0, 0.2);
	border: solid rgba(0, 0, 0, 0.5) 1px;
}
/* 按钮 */
.btn {
	color: black;
	background-color: rgba(0, 0, 0, 0.15);
	border: solid rgba(0, 0, 0, 0.5) 1px;
	margin: auto;
	width: 80%;
	height: 100%;
}
/* 获得鼠标焦点，鼠标悬浮 */
.btn:focus, .btn:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: ease-in-out 300ms;
	border: solid rgba(0, 0, 0, 0.5) 1px;
}
/* 失去鼠标焦点 */
.btn:focus-within {
	background-color: rgba(0, 0, 0, 0.15);
	transition: ease-in-out 300ms;
	border: solid rgba(0, 0, 0, 0.5) 1px;
}

/* 注册界面 */
