@import '@sweetalert2/theme-dark/dark.css';


html {
	background: url("../api/background") fixed center/cover no-repeat;
	color: black;
}

body {
	margin: 0;
	background: rgba(17, 17, 17, .7);
	padding: 0 .2em 1em;
	text-align: center;
	height: 100vh;
}


main {
	min-width: 35vw;
	min-height: 50vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(230, 230, 230, .6);
	overflow: hidden;
	border-radius: 3em;
	padding: 1em 2em;
}


form {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1.5fr 1.5fr 1.5fr 2fr 1fr;
	font-size: 1.2em;
}

label {
	margin: .5em .2em;
	text-align: right;
	cursor: pointer;
}

input {
	height: 3em;
	border-radius: 1em;
	padding: 0 1em;
	display: inline-block;
	transition: all ease-in-out .5s;
	border: solid rgba(0, 0, 0, 0.8) .1em;
	background: rgba(0, 0, 0, .4);
}

#login, #more-operation {
	grid-column-start: 1;
	grid-column-end: 3;
}

#more-operation {
	text-align: right;
}

#login {
	width: 8rem;
	height: 4rem;
	border-radius: 1.5rem;
	font-size: 1em;
	margin: 1em auto;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2);
	border: solid rgba(0, 0, 0, 0.5) .1em;
	transition: all ease-in-out .5s;
}


/* 表单得到焦点，鼠标悬浮 */
input:focus, input:hover {
	background: rgba(0, 0, 0, 0.3);
}


a {
	display: inline-block;
	margin: 0 .3em;
	padding: .2em .5em;
	border-radius: .5em;
	transition: all ease-in-out .5s;
}

	a:link, a:visited {
		color: lightblue;
		background: rgba(0, 0, 0, .5);
	}

	a:hover {
		color: cornflowerblue;
	}

	a:active {
		color: black;
		background: lightblue;
	}