@page
@model ErrorModel
@section NavLinks {<a href="~/" target="_self">首页</a><a href="~/chat.html" target="_self">聊天</a><a href="~/contact" target="_self">联系站长</a>}
@section Header {<h1>发生了错误！</h1>}
<h2>在请求过程中发生了错误，请<a href="~/contact" title="联系站长">联系站长</a>处理。</h2>
@if (Model.ShowRequestId) {<div>请求 ID：<span>@Model.RequestId</span></div>}