html {
	background: black;
	color: white;
}

body {
	margin: 0;
	padding: 0 .5em;
}

header {
	text-align: center;
}

img, audio, video, object, iframe, button, embed, input, textarea, svg {
	vertical-align: middle;
}

button {
	border-radius: 1em;
	padding: .2em .6em;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	border: solid rgba(255, 255, 255, 0.6) .1em;
	transition: all ease-in-out .5s;
	color: white;
}

a:link, a:visited {
	color: white;
}

a:hover {
	background: rgba(100, 190, 255, 0.4);
}

a:active {
	color: black;
	background: #8CF;
}

a {
	transition: background 0.3s linear, color 0.3s linear;
}

body::before {
	content: "-";
	display: block;
	height: 2.5em;
	opacity: 0;
	padding-bottom: .8em;
	transition: height ease-in-out .3s;
}

nav {
	text-align: left;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100000;
	user-select: none;
	background: rgba(30, 30, 30, .8);
	border-radius: 0 0 .7em .7em;
	border: .05em solid #999;
	display: grid;
	grid-template-columns: 1fr 20em;
	align-items: center;
	transition: all ease-in-out .3s;
}

#navLogoLink {
	color: white;
	text-decoration: none;
	background: none;
	line-height: 2.5em;
}

#navLogoText {
	font-size: 1.6em;
}

#navLogoImage {
	vertical-align: top;
	height: 2.5em;
	margin: 0 .6em;
}

#navLinks {
	justify-self: right;
	transition: all ease-in-out .3s;
}

	#navLinks a {
		font-size: 1.6em;
		padding: .1em .4em;
		text-decoration: underline;
		border-radius: .4em;
		transition: all ease-in-out .3s;
	}

::-webkit-scrollbar {
	width: .4em;
	height: .4em;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .5);
	border-radius: .2em;
}

@media ( max-width: 580px ) {
	nav {
		grid-template-columns: 1fr;
	}

	body::before {
		height: 5em;
	}

	#navLinks {
		padding: .2em .1em;
	}

		#navLinks a {
			font-size: 1.5em;
			padding: .1em .2em;
		}
}
